  <!DOCTYPE html>
  <html>
    <head>
      <title>BlogBubbles Sign Up</title>
      <link rel="stylesheet" type="text/css" href="../styles/common.css">
    </head>
    <body>
      <div class="sign-up-container">
        <div class="description">Blog Bubbles</div>
        <div class="input-container">
            <input type="email" id="email" placeholder="Enter your email" required>
        </div>
  
        <div class="input-container">
            <input type="password" id="password" placeholder="Enter your Password" required>
        </div>
        
        <div class="input-container">
          <input type="cPassword" id="cPassword" placeholder="Confirm Password" required>
      </div>
        <button id="signup-button" class="login-button">Create your account</button>
        <div id="error-msg" class="error-msg"></div>
        <p class="signin-link" id="create-account-link">Have an account?  <span class="link-text">Sign in</span></p>
    </div>
      <script src="../javascripts/sign_up.js"></script>
    </body>
  </html>